#root {
  margin: 0 auto;
  background-color: #faeee7;
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}

.accent-color-1 {
  color: #6b8093;
}

.accent-color-2 {
  color: #da879c;
}

.zoom-on-hover {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.zoom-on-hover:hover {
  transform: scale(1.4);
  opacity: 0.5;
}

/* Overlay icon name */
.icon-name {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #6b8093;
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}

/* Show the name on hover */
.custom-icon:hover .icon-name {
  opacity: 1;
  background-color: transparent;
  pointer-events: none;
}

.header {
  background-color: inherit;
  border-style: dashed;
  border-width: medium;
  border-color: #da879c;
  border-radius: 5px;
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.circular-image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  border-color: #da879c;
  border-width: medium;
  border-style: solid;
}

.circular-image {
  width: 100%;
  height: auto;
  position: absolute;
  object-fit: cover;
  object-position: top;
}

.icon {
  font-size: 22px;
}

.section-box {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #da879c;
  border-radius: 7px;
}

h2 {
  text-decoration: underline #da879c;
  text-underline-offset: 4px;
}

div a {
  color: #6b8093;
  text-decoration: none;
}

a:hover {
  color: #da879c;
}

.main-title:hover {
  color: #da879c;
}
